<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- writtten in an attempt to address <appAuthRedirectScheme> not provided issue -->
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false" />
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.action.BROWSABLE" />
                <data android:host="appauth.demo-app.io"
                    android.path="/oauth2redirect"
                    android.schema="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.action.BROWSABLE" />
                <data android.schema="net.openid.appauthdemo" />
            </intent-filter>
        </activity>
       
    </application>
</manifest>
